{
  "1": {
    "inputs": {
      "ckpt_name": "__BASE_CHECKPOINT__",
      "model": "PixArtMS_XL_2"
    },
    "class_type": "PixArtCheckpointLoader"
  },
  "3": {
    "inputs": {
      "seed": __SEED__,
      "steps": 28,
      "cfg": 5,
      "noise_schedule": "linear",
      "noise_schedule_vp": "discrete",
      "model": [
        "1",
        0
      ],
      "positive": [
        "4",
        0
      ],
      "negative": [
        "6",
        0
      ],
      "latent_image": [
        "12",
        0
      ]
    },
    "class_type": "PixArtDPMSampler"
  },
  "4": {
    "inputs": {
      "text": "__PROMPT_A__. Style: __PROMPT_B__",
      "T5": [
        "5",
        0
      ]
    },
    "class_type": "PixArtT5TextEncode"
  },
  "5": {
    "inputs": {
      "t5v11_name": "t5-v1_1-xxl/pytorch_model-00001-of-00002.bin",
      "t5v11_ver": "xxl",
      "path_type": "folder",
      "device": "cpu",
      "dtype": "default"
    },
    "class_type": "T5v11Loader"
  },
  "6": {
    "inputs": {
      "text": "__NEGATIVE_PROMPT__",
      "T5": [
        "5",
        0
      ]
    },
    "class_type": "PixArtT5TextEncode"
  },
  "7": {
    "inputs": {
      "width": __WIDTH__,
      "height": __HEIGHT__,
      "batch_size": 1
    },
    "class_type": "EmptyLatentImage"
  },
  "9": {
    "inputs": {
      "samples": [
        "3",
        0
      ],
      "vae": [
        "10",
        0
      ]
    },
    "class_type": "VAEDecode"
  },
  "10": {
    "inputs": {
      "vae_name": "sd-vae-ft-ema/diffusion_pytorch_model.bin"
    },
    "class_type": "VAELoader"
  },
  "11": {
    "inputs": {
      "filename_prefix": "SDBot",
      "images": [
        "9",
        0
      ]
    },
    "class_type": "SaveImage"
  },
  "12": {
    "inputs": {
      "batch_size": 1,
      "latents": [
        "7",
        0
      ]
    },
    "class_type": "RebatchLatents"
  }
}
