{
  "4": {
    "inputs": {
      "ckpt_name": "__REFINER_CHECKPOINT__"
    },
    "class_type": "CheckpointLoaderSimple"
  },
  "5": {
    "inputs": {
      "width": __WIDTH__,
      "height": __HEIGHT__,
      "batch_size": __BATCH_SIZE__
    },
    "class_type": "EmptyLatentImage"
  },
  "vae": {
    "inputs": {
      "vae_name": "sdxl_vae_fp16_fix.safetensors"
    },
    "class_type": "VAELoader"
  },
  "8": {
    "inputs": {
      "samples": [
        "23",
        0
      ],
      "vae": [
        "vae",
        0
      ]
    },
    "class_type": "VAEDecode"
  },
  "10": {
    "inputs": {
      "ckpt_name": "__BASE_CHECKPOINT__"
    },
    "class_type": "CheckpointLoaderSimple"
  },
  "22": {
    "inputs": {
      "add_noise": "enable",
      "noise_seed": __SEED__,
      "steps": __STEPS_TOTAL__,
      "cfg": __BASE_CFG__,
      "sampler_name": "dpmpp_2m",
      "scheduler": "karras",
      "start_at_step": 0,
      "end_at_step": __FIRST_PASS_END_AT_STEP__,
      "return_with_leftover_noise": "enable",
      "model": [
        "10",
        0
      ],
      "positive": [
        "75",
        0
      ],
      "negative": [
        "82",
        0
      ],
      "latent_image": [
        "5",
        0
      ]
    },
    "class_type": "KSamplerAdvanced"
  },
  "23": {
    "inputs": {
      "add_noise": "disable",
      "noise_seed": __SEED__,
      "steps": __STEPS_TOTAL__,
      "cfg": __REFINER_CFG__,
      "sampler_name": "dpm_adaptive",
      "scheduler": "karras",
      "start_at_step": __FIRST_PASS_END_AT_STEP__,
      "end_at_step": __STEPS_TOTAL__,
      "return_with_leftover_noise": "disable",
      "model": [
        "4",
        0
      ],
      "positive": [
        "120",
        0
      ],
      "negative": [
        "81",
        0
      ],
      "latent_image": [
        "22",
        0
      ]
    },
    "class_type": "KSamplerAdvanced"
  },
  "75": {
    "inputs": {
      "width": __4xWIDTH__,
      "height": __4xHEIGHT__,
      "crop_w": 0,
      "crop_h": 0,
      "target_width": __4xWIDTH__,
      "target_height": __4xHEIGHT__,
      "text_g": "__PROMPT_A__",
      "text_l": "__PROMPT_B__",
      "clip": [
        "10",
        1
      ]
    },
    "class_type": "CLIPTextEncodeSDXL"
  },
  "81": {
    "inputs": {
      "ascore": __NEGATIVE_A_SCORE__,
      "width": __4xWIDTH__,
      "height": __4xHEIGHT__,
      "text": "__NEGATIVE_PROMPT__",
      "clip": [
        "4",
        1
      ]
    },
    "class_type": "CLIPTextEncodeSDXLRefiner"
  },
  "82": {
    "inputs": {
      "width": __4xWIDTH__,
      "height": __4xHEIGHT__,
      "crop_w": 0,
      "crop_h": 0,
      "target_width": __4xWIDTH__,
      "target_height": __4xHEIGHT__,
      "text_g": "__NEGATIVE_PROMPT__",
      "text_l": "__NEGATIVE_PROMPT__",
      "clip": [
        "10",
        1
      ]
    },
    "class_type": "CLIPTextEncodeSDXL"
  },
  "120": {
    "inputs": {
      "ascore": __POSITIVE_A_SCORE__,
      "width": __4xWIDTH__,
      "height": __4xHEIGHT__,
      "text": "__PROMPT_A__",
      "clip": [
        "4",
        1
      ]
    },
    "class_type": "CLIPTextEncodeSDXLRefiner"
  },
  "122": {
    "inputs": {
      "filename_prefix": "SDBot",
      "images": [
        "8",
        0
      ]
    },
    "class_type": "SaveImage"
  }
}
